@import url("https://cdn.rawgit.com/musafirshahid/bangla-web-fonts/charukola-reguler-unicode/stylesheet.css");
@import url("https://cdn.rawgit.com/musafirshahid/bangla-web-fonts/ekushey-lohit/stylesheet.css");
/*=== Vars ===*/
/*=== Common Style ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  background: #d4d4d4;
}

p, h1, h2, h3, h4 {
  font-family: "Ekushey Lohit", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.4em;
  line-height: 1.7em;
}

* a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/*=== Header Style ===*/
.mdl-layout__drawer-button {
  color: #e7e7e7;
}

header {
  min-height: 50vh;
  text-align: center;
  background-color: #222;
  background-image: url("/prozuktischool/img/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e7e7e7;
}

.title {
  font-family: "Charukola Unicode", sans-serif;
  margin-bottom: 0.5em;
}

/*=== Course Home ===*/
.course-cover {
  text-align: center;
  width: auto;
}

.course-cover svg {
  width: 5em;
}
