@import url('https://cdn.rawgit.com/musafirshahid/bangla-web-fonts/charukola-reguler-unicode/stylesheet.css');
@import url('https://cdn.rawgit.com/musafirshahid/bangla-web-fonts/ekushey-lohit/stylesheet.css');

/*=== Vars ===*/
$charukola: 'Charukola Unicode', sans-serif;
$lohit: 'Ekushey Lohit', sans-serif;
$white: #e7e7e7;
$dark-gray: #222;
$light-gray: #d4d4d4;
/*=== Common Style ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  background: $light-gray;
}

p, h1, h2, h3, h4 {
  font-family: $lohit;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.4em;
  line-height: 1.7em;
}

* a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
/*=== Header Style ===*/

.mdl-layout__drawer-button {
  color: $white;
}

header {
  min-height: 50vh;
  text-align: center;
  background-color: $dark-gray;
  background-image: url('/prozuktischool/img/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $white;
}

.title {
  font-family: $charukola;
  margin-bottom: 0.5em;
}

/*=== Course Home ===*/
.course-cover {
  text-align: center;
  width: auto;
  height: 250px;
}

.course-cover svg {
  width: 50%;
}
