@import url('https://cdn.rawgit.com/musafirshahid/bangla-web-fonts/charukola-reguler-unicode/stylesheet.css');
@import url('https://cdn.rawgit.com/musafirshahid/bangla-web-fonts/ekushey-lohit/stylesheet.css');

/*=== Vars ===*/
$charukola: 'Charukola Unicode', sans-serif;
$lohit: 'Ekushey Lohit', sans-serif;
$white: #fff;
$dark-gray: #222;
$light-gray: #d4d4d4;
/*=== Common Style ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  background: #D2D7D3;
  color: #707c80;
}

p, h1, h2, h3, h4 {
  font-family: $lohit;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.4em;
  line-height: 1.7em;
}

* a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.sec-header {
  text-align: center;
  padding: .5em 0;
  background: #3c3741;
  color: #fff;
}

.mdl-card {
  width: auto;
  padding: 8px;
}

/*=== Header Style ===*/

.mdl-layout__drawer-button {
  color: $white;
}

header {
  min-height: 50vh;
  text-align: center;
  background-color: $dark-gray;
  background-image: url('/prozuktischool/img/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $white;
}

.title {
  font-family: $charukola;
  margin-bottom: 0.5em;
}

/*=== Course Home ===*/
.course-cover {
  text-align: center;
  width: auto;
}

.course-cover svg {
  width: 8em;
  min-height: 300px;
}

/*=== Post ===*/

.post-meta {
  background: $white;
  padding: 16px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

.post-meta span {
  color: green;
}

.post-meta .devider {
  margin: 0 .5em;
  color: $dark-gray;
}

.article-tag-list {
  list-style: none;
  display: inline;
}

.article-tag-list li {
  display: inline;
  margin-right: 0.5em;
}

.article-tag-list li a {
  font-size: 1.2em;
}

.article-tag-list li::after {
  content: ',';
}

.article-tag-list li:last-child {
  margin-right: 0;
}

.article-tag-list li:last-child::after {
  content: '';
}

.post-container {
  min-height: 50vh;
  background: $white;
  padding: 16px;
  text-align: justify;
}

footer {
  background: #3c3741;
  text-align: center;
}

footer .mdl-grid {
  padding: 0;
}

.mdl-mega-footer {
  background: #3c3741;
  padding: 0;
}

footer p {
  padding: 0;
  margin: 0;
}
